header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #232020;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

body {
    font-family: 'SF Pro Display', sans-serif;
    margin: 0;
    background-color: #0e0e0e;
    padding: 0;
    max-width: 100%;
}

.nav-menu {
    list-style: none;
    margin: 0;
    gap: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-menu li {
    display: inline;
    font-size: 14px;
    color: #fff;
    padding: 10px 15px;
}

.nav-menu a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
}

.nav-menu a:hover {
    color: #fff;
}

.dropbtn {
    background-color: #fff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #fff;
    padding: 100px;
    text-align: center;
    font-weight: 500;
    font-size: 6rem;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.dropdown-menu {
    display: block;
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 60px;
    left: 0;
    z-index: 1000;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s ease-out;
    visibility: hidden;
}

.dropdown-menu.show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    display: block;
    color: #242426;
    padding: 12px;
    text-decoration: none;
    text-align: center;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

@media (max-width: 768px) {
    .nav-menu ul {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (min-width: 768px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .product-item:nth-child(1) {
        grid-area: item1;
    }

    .product-item:nth-child(2) {
        grid-area: item2;
    }

    .product-item:nth-child(3) {
        grid-area: item3;
    }

    .product-item:nth-child(4) {
        grid-area: item4;
    }

    .product-item:nth-child(5) {
        grid-area: item5;
    }

    .product-item:nth-child(6) {
        grid-area: item6;
    }
}

@media (max-width: 767px) {
    .product-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .nav-menu ul {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .dropdown-menu {
        width: 100%;
    }

    .product-item {
        font-size: 2rem;
        padding: 20px;
    }
}

.box {
    display: inline-block;
    padding: 50px;
    font-size: 16px;
    text-align: center;
    width: 500px;
}

.text-container {
    color: #84898d;
    padding: 20px;
    line-height: 1.8;
    font-size: 18px;
    max-width: 600px;
}

h2 {
    color: #bdbcbc;
}

.text-container p {
    margin: 0;
}

img {
    max-width: 30%;
    filter: brightness(75%);
    transition: 0.3s;
}

img:hover {
    max-width: 40%;
    filter: brightness(100%);
}

footer {
    background-color: #242426;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.LearnMore {
    background-color: transparent;
    border-radius: 27px;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    font-size: 17px;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
    margin: 0 10px;
    padding: 8px 20px;
}

.LearnMore:hover {
    background-color: white;
    color: #242426;
}

img {
    height: auto;
}